@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.trust-cards {
  padding-block: var(--sp-xsm);

  @media (min-width: v.$ldpi) {
    padding-block: var(--sp-md);
  }

  &__inner {
    width: 100%;
    padding: var(--sp-xsm);
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-xsm);

    @media (min-width: v.$ldpi) {
      padding-block: var(--sp-sm);
    }
  }

  &__title {
    @include m.title(rgb(var(--secondary-light)), 4rem, 4.1vw, 4.8rem);
  }

  &__separator {
    max-width: 96rem;
    width: 90%;
  }

  &__grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--sp-xsm);
  }

  &__carousel {
    width: 100%;
    flex: 0 0 100%;
  }

  &__list {
    @media (min-width: v.$ldpi) {
      display: flex !important;
      flex-wrap: wrap;
      row-gap: var(--sp-xsm);
    }
  }

  &__arrows {
    margin-top: var(--sp-xsm);
  }
}

.trust-card {
  height: auto;
  padding: 0 calc(var(--sp-xsm) / 2);

  @media (min-width: v.$ldpi) {
    min-width: 23.8rem;
    flex: 1 0 calc(100% / 5);
  }

  $card: &;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: var(--sp-xsm);
    @include m.flex-center;
    background-color: rgb(var(--secondary-light));
  }

  &__inner {
    height: 100%;
    padding: var(--sp-xsm) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-xsm);
  }

  &__number {
    width: 60px;
    height: 60px;
    @include m.flex-center;
    border: 1px solid rgb(var(--tertiary));
    border-radius: 50%;
    font-size: 4rem;
    font-family: var(--font-serif);
    color: rgb(var(--tertiary));
  }

  &__title {
    width: 100%;
    position: relative;
    color: rgb(var(--primary));
    font-family: var(--font-serif);
    font-size: 2.4rem;

    &::after {
      content: "";
      width: 4.8rem;
      height: 1px;
      margin: var(--sp-xsm) auto 0;
      display: block;
      background-color: rgb(var(--tertiary));
    }
  }

  &--heading {
    min-width: 280px;
    flex: 1 1 34rem;

    @media (min-width: v.$tablet) {
      padding-right: 0;
    }

    span {
      @include m.title(rgb(var(--primary)), 3.2rem, 3.3vw, 3.2rem);
      display: block;
      &:first-child {
        font-size: clamp(4.8rem, 4.2vw, 8rem);
      }
    }

    #{$card}__inner {
      padding: var(--sp-xsm);
      @include m.flex-center;
    }
  }

  &--intro {
    min-width: 28rem;
    flex: 1 0 calc(100% - 34rem - var(--sp-xsm));

    @media (min-width: v.$tablet) {
      padding-left: 0;
    }

    #{$card}__inner {
      padding: var(--sp-xsm);
      @include m.flex-center;

      @media (min-width: v.$tablet) {
        & > * {
          height: fit-content;
          text-align: left;
        }
      }
    }
  }
}
