/* 
Color scheme is defined in theme-functions/color-scheme.php by dynamic selection. The default color scheme is as follows:

--primary:           #15253f; // rgb(21, 37, 63)
--primary-dark:      #08182f; // rgb(8, 24, 47)
--primary-light:     #2C3D5B; // rgb(44, 61, 91)

--secondary:         #BC9061; // rgb(188, 144, 97)
--secondary-dark:    #9D7A55; // rgb(157, 122, 85)
--secondary-light:   #DCAB77; // rgb(220, 171, 119)

--tertiary:          #F4F3EE; // rgb(244, 243, 238)
--tertiary-dark:     #E7E5DF; // rgb(231, 229, 223)
--tertiary-light:    #FFFFFF; // rgb(255, 255, 255)

--text-color:        #15253f; // rgb(21, 37, 63)
*/

