@use "../../styles/globals/variables" as v;

.logos-carousel {
  width: 100%;
  display: flex;

  &__wrapper {
    padding: var(--sp-xsm) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;

    @media (min-width: v.$ldpi) {
      padding: var(--sp-sm) 0;
    }
  }

  &__title {
    color: rgb(var(--primary));
    font-family: var(--font-serif);
    font-style: normal;
    font-weight: 600;
    font-size: clamp(3.2rem, 3.33vw, 3.6rem);
    line-height: 1.25;

    strong {
      color: rgb(var(--tertiary));
    }
  }

  &__carousel {
    width: 100%;
  }

  .logo {
    max-height: 15rem;
    display: flex;

    &__link {
      width: 100%;
      height: 100%;
      display: flex;
    }

    &__pic {
      width: 100%;
      height: 100%;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
