@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.logos-carousel {
  width: 100%;
  display: flex;

  &__wrapper {
    padding: var(--sp-xsm) 0;
    @include m.flex-center;
    flex-direction: column;
    gap: 3.2rem;

    @media (min-width: v.$ldpi) {
      padding: var(--sp-sm) 0;
    }
  }

  &__title {
    @include m.title();
  }

  &__carousel {
    width: 100%;
  }

  .logo {
    max-height: 15rem;
    padding: 0 var(--sp-xsm);
    display: flex;

    &__link {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;

      span {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        font-size: 12px;
      }
    }

    &__pic {
      width: 100%;
      height: 100%;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
