.contact-form-footer {
  position: relative;

  &__wrapper {
    padding: var(--sp-sm) 0;
  }

  p {
    color: rgb(var(--secondary));
  }

  .contact-form {
    padding: var(--sp-sm);
    background-color: rgb(var(--primary));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--sp-sm);

    &__title {
      font-size: 3.6rem;
      font-family: var(--font-serif);
      font-weight: 600;

      strong {
        font-weight: inherit;
        color: rgb(var(--tertiary));
      }
    }

    &__form {
      width: 100%;
      display: flex;
    }

    &__message {
      padding: var(--sp-sm);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(var(--tertiary));

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
