@use "globals/variables" as v;
@use "globals/mixins" as m;

section:has(+ .site-footer .contact-form-footer),
main:has(+ .site-footer .contact-form-footer) {
  padding-bottom: var(--sp-lg);
}

.site-footer {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  overflow: visible;

  //Footer Form Section
  .contact-form-footer {
    margin-top: calc(-1 * (var(--sp-sm) + var(--sp-xsm)));
    position: relative;
    display: flex;

    @media (min-width: v.$tablet) {
      margin-top: calc(-1 * var(--sp-sm));
    }

    @media (min-width: v.$mdpi) {
      margin-top: calc(-1 * var(--sp-lg));
    }

    &__wrapper {
      width: 100%;
      margin-top: calc(var(--sp-sm) + var(--sp-xsm));
      position: relative;

      @media (min-width: v.$tablet) {
        margin-top: calc(var(--sp-sm));
      }

      @media (min-width: v.$mdpi) {
        margin-top: calc(var(--sp-lg));
      }
    }

    &__inner {
      margin-top: calc(-1 * (var(--sp-sm) + var(--sp-xsm)));
      padding: var(--sp-xsm) 0;
      z-index: 5;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      gap: var(--sp-sm);

      @media (min-width: v.$tablet) {
        margin-top: calc(-1 * var(--sp-sm));
      }

      @media (min-width: v.$mdpi) {
        margin-top: calc(-1 * var(--sp-lg));
        padding: var(--sp-sm) 0;
      }
    }

    &__side-pic {
      min-width: 280px;
      flex: 1 0 calc(50% - var(--sp-sm) / 2);
      display: flex;

      @media (min-width: v.$tablet) {
        height: 75%;
        margin: auto 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    p {
      color: rgb(var(--secondary));
    }
  }

  .contact-form {
    padding: var(--sp-xsm);
    background-color: rgb(var(--primary));
    flex: 1 0 calc(50% - var(--sp-sm) / 2);
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-xsm);

    &__title {
      @include m.title(rgb(var(--secondary)), 3.6rem, 3.33vw, 3.6rem);
    }

    &__form {
      width: 100%;
      display: flex;
    }

    &__message {
      padding: var(--sp-xsm);
      @include m.flex-center;
      border: 1px solid rgb(var(--tertiary));

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  //Footer Locations Section
  .locations-footer {
    width: 100%;
    padding: var(--sp-xsm) 0;

    @media (min-width: v.$mdpi) {
      padding: var(--sp-sm) 0;
    }

    &__wrapper {
      padding: var(--sp-xsm);
      @include m.flex-center;
      flex-direction: column;
      gap: var(--sp-xsm);

      @media (min-width: v.$mdpi) {
        padding: var(--sp-sm);
        gap: var(--sp-sm);
      }
    }

    &__content {
      @include m.flex-center;
      flex-direction: column;
      gap: calc(var(--sp-xsm) / 2);

      @media (min-width: v.$mdpi) {
        gap: var(--sp-xsm);
      }
    }

    &__title {
      @include m.title(rgb(var(--primary)), 4rem, 4.16vw, 4.6rem);
    }

    &__separator {
      max-width: 70%;
    }
  }

  .locations-cards {
    max-width: 100%;
    margin-bottom: 7.4rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: var(--sp-xsm);

    @media (min-width: v.$mdpi) {
      margin-bottom: 9rem;
    }

    & > * {
      width: calc(50% - var(--sp-xsm) / 2);
      flex: 0 0 calc(50% - var(--sp-xsm) / 2);
    }

    &__carousel {
      @media (min-width: v.$tablet) {
        width: calc((2 * (100% / 3)) - var(--sp-xsm) / 2);
        flex: 0 0 calc((2 * (100% / 3)) - var(--sp-xsm) / 2);
      }

      @media (min-width: v.$mdpi) {
        width: calc((4 * (100% / 5)) - var(--sp-xsm) / 2);
        flex: 0 0 calc((4 * (100% / 5)) - var(--sp-xsm) / 2);
      }
    }

    &__arrows {
      width: calc((100% * 2) + var(--sp-xsm));
      position: absolute;
      top: calc(100% + var(--sp-xsm));
      right: 0;

      @media (min-width: v.$tablet) {
        width: calc((3 * (100% / 2)) + var(--sp-xsm) / 2);
        flex: 0 0 calc((3 * (100% / 2)) + var(--sp-xsm) / 2);
      }

      @media (min-width: v.$mdpi) {
        width: calc((5 * (100% / 4)) + var(--sp-xsm) / 2);
        flex: 0 0 calc((5 * (100% / 4)) + var(--sp-xsm) / 2);
        top: calc(100% + var(--sp-sm));
      }
    }
  }

  .location-card {
    background: rgb(var(--secondary-light));
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;

    $card: &;

    &__inner {
      height: 100%;
      padding: var(--sp-sm) var(--sp-xsm);
      @include m.flex-center;
      flex-direction: column;
      gap: var(--sp-xsm);
    }

    &__map {
      width: 100%;
      height: 160px;
      display: flex;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &__city {
      @include m.flex-center;
      flex-direction: column;
      font-size: 1.6rem;
      font-family: var(--font-sans);
      font-weight: 700;
      line-height: 1.5;
      color: rgb(var(--primary));
      transition: 0.3s ease;

      & > a {
        all: inherit;

        &:hover {
          cursor: pointer;
          color: rgb(var(--tertiary));
        }
      }

      &::after {
        content: "";
        width: 50px;
        height: 1px;
        margin-top: 8px;
        display: block;
        background-color: rgb(var(--tertiary));
      }
    }

    &__address {
      font-size: 1.4rem;
    }

    &__btn {
      @include m.flex-center;
      flex-wrap: nowrap;
      gap: 8px;
    }

    &__cta {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.5;
      color: rgb(var(--primary));
    }

    &--first {
      p {
        font-size: 1.4rem;
        span {
          font-size: 1.4rem;
          strong {
            font-size: 2.4rem;
          }
        }
      }

      @media (min-width: v.$tablet) {
        width: calc((100% / 3) - var(--sp-xsm) / 2);
        flex: 0 0 calc((100% / 3) - var(--sp-xsm) / 2);
      }

      @media (min-width: v.$mdpi) {
        width: calc((100% / 5) - var(--sp-xsm) / 2);
        flex: 0 0 calc((100% / 5) - var(--sp-xsm) / 2);

        p {
          font-size: 1.6rem;
          span {
            font-size: 1.6rem;
            strong {
              font-size: 3.2rem;
            }
          }
        }
      }

      #{$card}__inner {
        gap: 2.4rem;
      }
    }
  }

  .copyright-footer {
    width: 100%;
    padding: var(--sp-xsm) 0;

    @media (min-width: v.$mdpi) {
      padding: var(--sp-sm) 0;
    }

    &__wrapper {
      @include m.flex-center;
      flex-direction: column;
      gap: var(--sp-xsm);
    }
  }

  .footer-nav {
    padding: var(--sp-xsm) 0;

    &__menu {
      @include m.flex-center;
      flex-direction: column;
      gap: var(--sp-xsm);

      @media (min-width: v.$tablet) {
        flex-direction: row;
      }
    }

    .menu-item {
      span {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: rgb(var(--primary));
        transition: 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          color: rgb(var(--tertiary));
        }
      }
    }
  }
}
