@use "../globals/variables" as v;
@use "../globals/mixins" as m;

.post-card {
  height: auto;

  $card: &;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: rgb(var(--secondary-light));
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease;
  }

  &__pic-wrapper {
    min-width: 28rem;
    min-height: 41.5rem;
    flex: 1 0 52%;
    display: flex;
  }

  &__pic {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center center;
      transition: 0.3s ease-in-out;
    }
  }

  &__inner {
    min-width: 28rem;
    flex: 1 0 48%;
    padding: var(--sp-sm);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--sp-xsm);
    transition: padding 0.4s ease;
  }

  &__meta {
    flex: 0 0 100%;
    color: rgb(var(--tertiary));
  }

  &__title {
    position: relative;
    flex: 0 0 100%;
    color: rgb(var(--primary));
    font-family: var(--font-serif);
    font-size: 2.2rem;

    &::after {
      content: "";
      width: 4.8rem;
      height: 1px;
      margin: var(--sp-xsm) auto 0 0;
      display: block;
      background-color: rgb(var(--tertiary));
    }
  }

  &__content {
    flex: 0 0 100%;
    color: rgb(var(--text-color));
    font-weight: 400;
  }

  &__btn {
    width: fit-content;
    max-height: 0;
    overflow-y: hidden;
    flex: 0 0 100%;
    align-self: flex-end;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    #{$card}__btn {
      max-height: 60px;
      overflow-y: visible;
    }
  }
}
